.bgImage {
    width: 100%;
    background-image: url('../../public/SkoloStairs1920x1080.png');
    object-fit: contain; 
    /* background-position:center; */
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;  
    background-color: black;
    opacity: 100% ;
    /* background: linear-gradient(black, grey); */
    
}

/* .bgOverlay {
    background-color: black;
    opacity: 100% ;
} */

    


