
@font-face {
    font-family:"Bebas Neue Regular";
    src:url("BebasNeue-Regular.woff2") format("woff2"),url("BebasNeue-Regular.woff") format("woff"),url("BebasNeue-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        